.font-size-li {
  font-size: 14px;
}

.nav-button-link a:hover {
  color: var(--secondary-color);
}

.nav-button-link a:active {
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  .font-size-li {
    font-size: 12px;
  }
}
