.logo-container-footer img {
  width: auto;
  height: 60px;
  cursor: pointer;
}

.logo-github-footer img {
  width: auto;
  height: 40px;
}

.text-footer {
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .logo-container-footer img {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .logo-container-footer,
  .text-footer {
    text-align: center;
  }

  .logo-github-footer {
    justify-content: center;
  }
}
