.search-bar-container {
  width: 50%;
}

.search-button-container {
  display: none;
}

@media (max-width: 992px) {
  .search-bar-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .search-bar-container {
    display: none;
  }

  .display-control {
    display: none;
  }

  .company-logo-container {
    order: 2;
  }

  .search-button-container {
    order: 1;
    display: unset;
    cursor: pointer;
  }

  .buttons-container {
    order: 3;
  }
}
