.cart-item-img img {
  width: auto;
  height: 130px;
}

.quantity-cart-container h4 {
  display: inline-block;
  width: 45px;
}

.delete-cart {
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-item-container {
    flex-direction: column;
  }
}
