.menu-bar-top a:hover {
  color: unset;
  font-weight: 800;
}

.menu-bar-items a.active {
  color: var(--secondary-color);
}

.menu-bar-items li,
li:hover {
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}
